/* 1. Define the font locally using the downloaded file */
@font-face {
    font-family: 'LocalAudiowide';
    src: url('Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Apply the font to the body and force inheritance on interactive elements */
/*body, 
input, 
button, 
select, 
textarea {
    font-family: 'LocalAudiowide', sans-serif !important;
}*/

html, body {
  touch-action: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01D6D4;
}

#countculator {
  background-color: #01D6D4;
  padding: 30px 5px 0px 5px;
  width: 400px;
  max-width: 400px;
}

.main-title {
 /* Apply the font and provide a fallback like sans-serif */
  font-family: 'LocalAudiowide', sans-serif !important;
  font-size: 2.3rem;
  color: #954880; 
  text-align: center;
  letter-spacing: 1px;
  /* Vintage 3D layered shadow effect */
  /*text-shadow: 
    3px 3px 0px #2a9d8f, /* Teal layer */
    /*6px 6px 0px #264653; /* Dark slate layer */
}

#equation {
  background-color: #ffffff;
  color: #232323;
  text-align: right;
  font-size: 23px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

#display {
  background-color: #ffffff;
  color: #1A1A1A;
  text-align: right;
  font-size: 40px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

#keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 8px;
}

button {
  background: #E9650B;
  color: white;
  font-size: 36px;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
}

.Special-Brown {
  background-color: #996633;
}

.Special-Purple {
  background-color: #954880;
}

.Special-Red {
  background-color: #BA2933;
}

button:active, .Special-Brown:active, .Special-Purple:active, .Special-Red:active {
  filter: brightness(130%); /* Makes the color 30% brighter */
  transform: scale(0.98);   /* Adds a physical 'depressed' feel */
}