* {
  box-sizing: border-box;
}

body {
  background: #01D6D4;
  margin: 10;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

i {
  font-size: 50px;
  margin-left: 10px;
}

#display {
  background-color: #FFFFFF;
  height: 30vh;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  font-size: 14vmin;
  padding: 15px;
  color: #000000
}

#display::-webkit-inner-spin-button,
#display::-webkit-inner-spin-button {
  appearance: none;
}

#keypad {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

button {
  font-size: 8vmin;
  background: #E9650B;
  border: none;
  color: white;
}

.Special-Brown {
  background-color: #996633;
}

.Special-Purple {
  background-color: #954880;
}

.Special-Red {
  background-color: #BA2933;
}

button:active, .Special-Brown:active, .Special-Purple:active, .Special-Red:active {
  filter: brightness(130%); /* Makes the color 30% brighter */
  transform: scale(0.98);   /* Adds a physical 'depressed' feel */
}